@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');


body {
    padding: 0px !important;
    margin: 0px !important;
    overflow-x: hidden;
    overflow-y: visible !important;
    font-family: 'Titillium Web', sans-serif;
    color: #212121;
}


h1,
h2,
.h1,
.h2 {
    font-weight: 600;
}

.display-3 {
    font-weight: 700;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

/* header area css*/

.fixed-top {
    /*top: 55px;
    transition: all 0.4s;*/
    background-color: rgba(33, 33, 33, 0.8);
}
/* 
navbár színváltás
.nav-sticky {
    transition: all 0.4s;
    background: linear-gradient(90deg, rgba(229, 185, 86, 0.9) 0%, rgba(219, 162, 33, 0.9) 100%);
} */

.fixed-top.nav-sticky {
    top: 0;
    padding-right: 0 !important;
    padding-top: 0;
}

.navbar img.logo-white {
    margin-top: 8px;
    width: 60px;
}

.navbar img.logo-black {
    /*margin-top: 10px;*/
    width: 60px;
}

.nav-sticky .outline-btn {
    border: solid 2px #fff;
}

.navbar-nav .nav-item a.nav-link {
    text-transform: uppercase;
    padding: 0px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.logo-white {
    display: none;
}

.nav-sticky .logo-white {
    display: block;
}

.nav-sticky .logo-black {
    display: none;
}


.slider-area {
    position: relative;
    padding-bottom: 100px;
    background-position: center;
    background-size: cover;
    height: 95vh;
}

.slider-content {
    position: absolute;
    top: 15%;
    left: 10%;
    right: 10%;
}



.main-color {
    color: #e5b956;
    transition: all 0.3s;
}



/* feature css start */

.my-card {
    
    background: linear-gradient(90deg, #b38728, rgb(229, 185, 86,0.2));
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    transition: all 0.2s;
}

.my-card:hover {
    color: #000;
    transition: all 0.1s;
    background: linear-gradient(90deg, #fff,rgba(7, 7, 7, 0.2));
}

.my-card p {
    font-size: 25px;
    font-weight: 600;
    transition: all 0.3s;
}
.my-card p:hover {
    font-size: 25px;
    font-weight: 600;
    transition: all 0.3s;
}

.my-card p.h1 {
    font-size: 38px;
    transition: all 0.3s;
}

.my-card a {
    text-decoration: none;
    padding: 10px 30px !important;
    transition: all 0.3s;
}

.my-card-two {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
    transition: all 0.3s;
    padding: 25px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    transition: all 0.3s;
    height: 100%;
}

.my-card-two:hover {
    color: #000;
    transition: all 0.1s;
    background: linear-gradient(90deg, #b38728, rgb(229, 185, 86,0.2));
    transition: all 0.3s;
    /*box-shadow: 0px 0px 20px rgba(219, 162, 33, 1);*/
}

.my-card-two p {
    font-size: 25px;
    font-weight: 600;
}

.btn-presale{
    display: flex;
    flex-flow: row;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #bc881b;
    color: #ffffff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-size: 100% 100%;
    background-position: center;
    display: inline-block;
}
.btn-presale:focus,
.btn-presale:hover {
    background-size: 150% 150%;
    border: 2px solid white;
    color: #bc881b;
}

.btn-play{
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    background-color: transparent;
    border: 2px groove white;
    color: #ffffff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-size: 100% 100%;
    background-position: center;
    display: inline-block;
}
.btn-play:focus,
.btn-play:hover {
    background-size: 150% 150%;

    color: black;
    background:transparent;
}

.btn-one {
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #bc881b;
    color: #ffffff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-size: 100% 100%;
    background-position: center;
    display: inline-block;
    box-shadow:  5px #e5b956;
}

.btn-one:focus,
.btn-one:hover {
    background-size: 150% 150%;
    border: 2px solid white;
    color: #bc881b;
    
}

.btn-two {
    background-color: #000;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    transition: all 0.3s;
}

.my-card-two:hover .btn-two {
    background: #fff;
    transition: all 0.5s;
    color: #000;
}

.my-card:hover .btn-two {
    background: #fff;
    transition: all 0.5s;
    color: #000;
}

.btn-two:hover {
    background: #fff;
    transition: all 0.5s;
    color: #000;
}

/* .btn-three {
    border-radius: 5px;
    padding: 30px 30px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(110, 80, 20, .4),
        inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
        inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border: 1px solid #a55d07;
    color: rgb(120, 50, 5);
    text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-size: 100% 100%;
    background-position: center;
    display: inline-block;
} */

.btn-three:focus,
.btn-three:hover {
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
        inset 0 -2px 5px 1px #b17d10,
        inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    border: 1px solid rgba(165, 93, 7, .6);
    color: rgba(120, 50, 5, .8);
}

.btn-three:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(110, 80, 20, .4),
        inset 0 -2px 5px 1px #b17d10,
        inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
}

.slider-area {

    background-blend-mode: overlay;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

body {
    background: rgba(2, 2, 2, 0.3) url(../images/main-bg.jpeg);
    /*background-blend-mode: overlay;*/
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.top-head {
    background: linear-gradient(90deg, rgba(229, 185, 86, 1) 16%, rgba(252, 244, 183, 1) 50%, rgba(229, 185, 86, 1) 79%);
}

.top-head a {
    text-decoration: none;
    color: #000;
}


.tokenomics-area p.h5 {
    margin-bottom: 25px;
}

.tokenomics-area .border {
    width: 410px;
    height: 300px;
    border-color: #dda528 !important;
    border-radius: 5px;
    
}


/* new css */



.slider-area .typed {
    min-height: 50px;
}

.presale-area {
    border-radius: 5px;
    border: solid 1px #dda528;
}
.presale-area .card {
    background-color: rgba(255, 255, 255, 0.65);
    color: #000;
}
 
.presale-area .card p.h4.p-2.mb-0 {
    color: #000;
    min-height: 45px;
}

.presale-area .card input {
    background-color: transparent;
    border: 0;
}


.hr-one {
    background-color: #dda528;
    opacity: 0.8;
}

.my-card {
    margin: 6px;
}

.title-border {
    border-bottom: solid 2px #dda528;
    max-width: 50%;
}


section.footer {
    background-color: #212121;
}

.footer a {
    color: #fff;
    text-decoration: none;

}

.golden-border {
    border: 2px solid transparent;
    border-bottom: 2px solid #e5b956;
}

a.main-color.golden-border:hover {
    color: #e5b956;
    transition: all 0.3s;
    border-radius: 8px;
    border: solid 2px #e5b956;
    border-bottom: solid 2px #e5b956 !important;
}


.dark-bg {
    background-color: rgba(33, 33, 33, 0.8);
    border-radius: 5px;
}

.go-top.active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    right: 3%;
    top: 84%;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.go-top {
    position: fixed;
    cursor: pointer;
    right: 3%;
    top: 85%;
    background-color: #e5b956;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 31%);
    z-index: 4;
    width: 50px;
    text-align: center;
    height: 50px;
    line-height: 42px;
    border-radius: 50px;
    -webkit-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
    -webkit-transition: .9s;
    transition: .9s;
}

.go-top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #e5b956;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .5s;
    transition: .5s;
}


.go-top img {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
    font-size: 20px;
}


.spacer{
    margin-top: 200px;
    margin-bottom: 50px;
}

.card-area {
    color: rgb(229, 185, 86);
    position: relative;
    /*box-shadow: 0 20px 50px rgba(0, 0, 0, .5);*/
    overflow: hidden;
}


.card-area span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(229, 185, 86));
    animation: animate1 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.card-area span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(229, 185, 86));
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.card-area span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(229, 185, 86));
    animation: animate3 2s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.card-area span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(229, 185, 86));
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);

    }

    100% {
        transform: translateY(-100%);
    }
}

.text-justify-center{
    text-align: justify;
    text-align-last: center;
}

.anchor {
    color: #fff;
    font-weight: normal;
}

.anchor:hover {
    color: rgba(219, 162, 33, 1);
    font-weight: normal;
}
